//* Importa el archivo src/styles.scss
//* Esto es posible porque en el angular.json agregamos "includePaths": ["src", "src/scss"]
//* Diciéndole que las hojas de estilos sass de donde puede importar pueden ser de esos directorios
@import 'styles';

.btn {

    width: 150px;
    height: 50px;
    border-radius: 5px;
    transition: 0.2s;
    color: $light;
    border: 1px solid $light;

    &.btn-success {
        background-color: $success;

        &:hover {
            background-color: lighten($color: $success, $amount: 8);
            color: $light;
            border: 1px solid $success;
        }

        &:active {
            background-color: darken($color: $success, $amount: 6);
        }
    }

    &.btn-danger {
        background-color: $danger;

        &:hover {
            background-color: lighten($color: $danger, $amount: 8);
            color: $light;
            border: 1px solid $danger;
        }

        &:active {
            background-color: darken($color: $danger, $amount: 6);
        }
    }

    &:hover {
        cursor: pointer;
    }

}