//* Importa el archivo src/styles.scss
//* Esto es posible porque en el angular.json agregamos "includePaths": ["src", "src/scss"]
//* Diciéndole que las hojas de estilos sass de donde puede importar pueden ser de esos directorios
@import 'styles';

.btn {
    background-color: $primary;
    color: $secondary;
    border: 1px solid $secondary;
    transition: 0.2s;

    &:hover {
        background-color: $secondary;
        color: $primary;
        border: 1px solid $primary;
        cursor: pointer;
    }
}